@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root{
   --primary-color:#FCD34D;
   --secondary-color:#FEF3C7;
}

main{
    background-color: var(--primary-color);
    padding: 2rem;
}

body {
    font-family: 'Open Sans', sans-serif;
    max-width: 500px;
    margin: auto;
    text-align: center;
}

.inputBill{
    margin: 2rem;

}

.inputCash {
    margin: 2rem;
}

.label {
    font-size: 1.2rem;
    margin: 1rem;
    display: block;
}

.inputfield {
    font-size: 2rem;
    width:90%;

}

.message {
    font-size: 2rem;
    font-weight: 700;
}

.hidden {
    display: none;
}

.button {
    /* display: block; */
    margin: auto;
    font-size: 1.5rem;
    margin-top: 2rem;
    background-color: var(--secondary-color);
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.tablediv {
    margin-top: 3rem;
}

table {
    margin: auto;
    background-color: var(--secondary-color);

}

table,
th,
tr,
td {
    border: 1px solid black;
}

tr,
td {
    width: 3rem;
}


footer {
    margin: auto;
    font-size: 1.5rem;
    background-color: var(--primary-color);
    
    text-align: center;
    padding: 0.3rem;
}

.footer-link{
    text-decoration: none;
    color: black;
}

.icon{
    padding: 0px 15px 10px 15px;
}