@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    max-width: 600px;
    margin: auto;
    text-align: center;
}

.inputBill{
    margin: 2rem;
}

.inputCash {
    margin: 2rem;
}

.label {
    font-size: 1.2rem;
    margin: 1rem;
    display: block;
}

.inputfield {
    font-size: 1.2rem;
}

.message {
    font-size: 2rem;
    font-weight: 700;
}

.hidden {
    display: none;
}

.button {
    /* display: block; */
    margin: auto;
    font-size: 1.2rem;
    margin-top: 2rem;
}

.tablediv {
    margin-top: 3rem;
}

table {
    margin: auto;

}

table,
th,
tr,
td {
    border: 1px solid black;
}

tr,
td {
    width: 3rem;
}